corepack/debian/*
corepack/alpine/*
heaps/*
image-spinner/*

!LICENSE
!README.md
!corepack/alpine/Dockerfile
!corepack/alpine/README.md
!corepack/alpine/docker-entrypoint.sh
!corepack/alpine/project.sh
!corepack/debian/Dockerfile
!corepack/debian/README.md
!corepack/debian/docker-entrypoint.sh
!corepack/debian/project.sh
!heaps/Dockerfile
!heaps/README.md
!heaps/docker-entrypoint.sh
!heaps/project.sh
!image-spinner/Dockerfile
!image-spinner/README.md
!image-spinner/docker-entrypoint.sh
!image-spinner/project.sh
