corepack/debian/*
corepack/alpine/*
heapsio/haxe5/*
image-spinner/*

!corepack/alpine/docker-entrypoint.sh
!corepack/alpine/Dockerfile
!corepack/alpine/project.sh
!corepack/alpine/README.md
!corepack/debian/docker-entrypoint.sh
!corepack/debian/Dockerfile
!corepack/debian/project.sh
!corepack/debian/README.md
!heapsio/haxe5/Dockerfile
!heapsio/haxe5/project.sh
!heapsio/haxe5/README.md
!image-spinner/Dockerfile
!image-spinner/project.sh
!LICENSE
!README.md
