corepack/alpine/*
corepack/debian/*
heaps/*
image-spinner/*
x11/alpine/*
x11/debian/*
vesuvius/*
wine/alpine/*
wine/debian/*

!LICENSE
!README.md
!corepack/alpine/Dockerfile
!corepack/alpine/README.md
!corepack/alpine/docker-entrypoint.sh
!corepack/alpine/project.sh
!corepack/debian/Dockerfile
!corepack/debian/README.md
!corepack/debian/docker-entrypoint.sh
!corepack/debian/project.sh
!heaps/Dockerfile
!heaps/README.md
!heaps/docker-entrypoint.sh
!heaps/project.sh
!image-spinner/Dockerfile
!image-spinner/README.md
!image-spinner/docker-entrypoint.sh
!image-spinner/project.sh
!x11/alpine/Dockerfile
!x11/alpine/README.md
!x11/alpine/docker-entrypoint.sh
!x11/alpine/project.sh
!x11/debian/Dockerfile
!x11/debian/README.md
!x11/debian/docker-entrypoint.sh
!x11/debian/project.sh
!vesuvius/Dockerfile
!vesuvius/README.md
!vesuvius/docker-entrypoint.sh
!vesuvius/project.sh
!wine/alpine/Dockerfile
!wine/alpine/README.md
!wine/alpine/docker-entrypoint.sh
!wine/alpine/project.sh
!wine/debian/Dockerfile
!wine/debian/README.md
!wine/debian/docker-entrypoint.sh
!wine/debian/project.sh
